body {
    font-family: Arial, sans-serif;
    background-color: #7face4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

label, p, strong {
    font-size: 1.3rem;
    font-weight: 500;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    min-width: 50%;
    min-height: 20rem;
}

label, input, button {
    display: block;
    margin: 10px 0;
    min-width: 40%;
    height: 2rem;
}

label {
    margin-bottom: 0.0rem;
}

button {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.912);
    color: #ffff;
    font-weight: 600;
    border: none;
}

img {
    margin: auto;
}
